<h1>EMPLOYEE MANAGEMENT PORTAL</h1>
<nav class='navbar navbar-expand navbar-light bg-light '>
    <a class="navbar-brand ">{{title}}</a>
    <ul class="nav nav-pills " *ngIf="isLoggedIn()">
        <li><a class='nav-link' data-bs-toggle="pill" aria-current="page" [routerLink]="['']">Home</a></li>
        <li><a class='nav-link' data-bs-toggle="pill" aria-current="page" [routerLink]="['/departments']">Department List</a></li>
        <li ><a class='nav-link 'data-bs-toggle="pill" aria-current="page" routerLinkActive='active' [routerLink]="['/employees']">Employee List</a></li>
        <li ><a class='nav-link' data-bs-toggle="pill" aria-current="page" [routerLink]="['/departments/add']">Add Department </a></li>
        <li ><a class='nav-link' data-bs-toggle="pill" aria-current="page" [routerLink]="['/employees/add']">Add Employee </a></li>
        <li ><a class='nav-link' data-bs-toggle="pill" aria-current="page" [routerLink]="['']" (click)="logout()" >Logout</a></li>

    </ul>
</nav>




<router-outlet></router-outlet>
